@import url(./layout/button.css);
@import url(./layout/footer.css);
@import url(./layout/function.css);
@import url(./layout/header.css);
@import url(./layout/sidebar.css);
@import url(./layout/table.css);
@font-face {
    font-family: Roboto-Bold;
    src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../assets/fonts/notosans-semibold.df3e6dc4.woff2);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

body {
    margin: 0;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 56px auto;
    background-color: #F7F7F7;
    outline: none;
}

.main {
    overflow-y: scroll;
    padding: 24px 0 0 24px;
    font: 500 14px Roboto-Medium;
    height: calc(100vh - 80px);
    background-color: #F7F7F7;
}

.main .main-header {
    display: flex;
    justify-content: space-between;
    background-color: #F7F7F7;
    padding: 0 24px 24px 0;
}

.main__header-title {
    font-size: 24px;
    font-weight: 700;
    font-family: Roboto-Bold;
    line-height: 26px;
}

.input-main {
    height: 36px;
    padding: 0 8px 0 12px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    background-color: #FFFFFF;
    outline: none;
    box-sizing: border-box;
}

.main .main-body {
    background-color: #FFFFFF;
    /* overflow-x: scroll; */
    scroll-behavior: smooth;
    position: relative;
    flex: 1;
}

.main__body-function .function__search {
    position: relative;
    min-width: 260px;
}

.input-main::placeholder {
    color: #9E9E9E;
    /* font: 400 14px Roboto-Regular; */
    /* line-height: 18px; */
}

.input-main:hover,
.input-main:hover~.btn-search {
    background-color: #F6F6F6;
}

.input-main:focus {
    border: 1px solid #50B83C;
    background-color: #FFFFFF;
}

.input-main:focus~.btn-search {
    background-color: #FFFFFF;
}

.main__body-function {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
}

.main-body .btn-reload {
    background-position: -1098px -90px;
    margin-left: 24px;
}

.main__body-function .btn-search {
    position: absolute;
    left: calc(100% - 100px);
    background-position: -425px -33px;
}

.main__body-footer {
    display: flex;
    justify-content: space-between;
    font: 400 14px Roboto-Regular;
    padding: 16px;
}

.body__footer-right {
    display: flex;
}

.btn-seclectdown {
    background-position: -564px -365px;
}